@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

.gradient-custom {
    /* fallback for old browsers */
    background: #ffffff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 236, 210, 1))
}

.carousel-indicators li {
    background-color: #282828;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 90%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.wrapperWeather
{
    margin-left: auto;
    font-family: 'Agdasima', sans-serif;
    font-weight: bold;
}

.wrapperWeather2
{
    font-family: 'Agdasima', sans-serif;
    font-size:larger;
    font-weight: bold;
}